<ul class="list-group">
  <li class="list-group-item list-header">項目一覧</li>
  <% @sections.each do |section| %>
    <li class="list-group-item"><%= section.name %></li>
    <% section.items.each do |item| %>
      <li class="list-group-item middle-item under-section">
        <%= link_to item.name, category_section_item_path(section.category.id,section.id,item.id) %>
      </li>
    <% end %>
  <% end %>
  <li class="list-group-item last-item"></li>
</ul>
