<% provide(:title, "投稿一覧")%>
<div class="basic-page row">
  <div class="col-sm-3 col-xs-0 side-bar">
    <aside>
      <%= render 'shared/tag_side_bar' %>
    </aside>
  </div>
  <div class="col-sm-9 col-xs-12 index">
    <article>
      <%= render partial: 'posts/posts', locals: { posts: @posts, title: "投稿一覧" } %>
    </article>
  </div>
</div>

