
<% provide(:title, "新規投稿")%>
<div class="basic-page row">
  <div class="col-sm-12 col-xs-12">
    <div id="post-form">
      <%= render partial: 'post_form', locals: { post: @post, tags: @tags } %>
    </div>
  </div>
</div>
