<% provide(:title, @post.title)%>
<div class="basic-page row">
  <div class="col-sm-3 col-xs-0 side-bar">
    <aside>
      <%= render 'shared/tag_side_bar' %>
    </aside>
  </div>
  <div class="col-sm-9 col-xs-12 index">
    <article class="article-box">
      <section>
        <div id="display-post">
          <%= render partial: 'display_post' %>
        </div>
      </section>
      <div class="comments">
        <div id="new-comment">
          <%= render partial: 'comments/comments' %>
        </div>
        <div id="comment-form">
          <%= render partial: 'comments/comment_form' %>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="basic-page row">
  <div class="col-sm-12">
    <div id="post-form"></div>
  </div>
</div>
