html body {
  background-color: snow;
}
nav.navbar {
  border-radius: unset;
}
.container {
  padding-bottom: 100px;
}
footer nav.navbar {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
    li {
      margin-left: 30px;
    }
  }
}
.basic-nav {
  ul.nav.navbar-nav {
    margin: 0 20px;
  }
  .glyphicon {
    padding-right: 5px;
    &:before {
      margin-right: 5px;
    }
  }
}
.basic-page {
  margin-top: 50px;
  margin-bottom: 70px;
  h1 {
    border-bottom: 1px solid;
    border-left: 7px solid;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  h2 {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  a {
    color: #333333;
  }
  section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  form.button_to {
    display: inline;
  }
  .glyphicon {
    padding-right: 5px;
    &:before {
      margin-right: 5px;
    }
  }
  .glyphicon-user:before {
    color: sienna;
  }
  .glyphicon-tags:before {
    color: forestgreen;
  }
  .glyphicon-pencil:before {
    color: chocolate;
  }
  .glyphicon-comment:before {
    color: dodgerblue;
  }
  .glyphicon-thumbs-up:before {
    color: crimson;
  }
  .glyphicon-file:before {
    color: seagreen;
  }
  .badge {
    border-radius: 45%;
    background-color: tomato;
  }
  .btn {
    color: #fff;
  }
  .nav-tabs > {
    li.active > a {
      background: #ffbc00;
    }
    li > a {
      background: wheat;
    }
  }
  .field {
    margin-bottom: 30px;
    position: relative;
    img {
      margin-right: 10px;
    }
  }
  .open_status {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffa85f;
    font-size: 25px;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
  }
}
.select-actions {
  margin: 50px auto;
  position: relative;
  height: 25px;
  .btn {
    width: 40%;
  }
  .left-btn {
    position: absolute;
    left: 5%;
  }
  .right-btn {
    position: absolute;
    right: 5%;
  }
}
#logo {
  color: #fff;
  font-size: 30px;
}
.navbar-footer {
  text-align: center;
}
// HOMEページ
.menu .select-actions {
  margin-top: 65px;
  height: 50px;
  .btn {
    padding: 15px 12px;
    font-size: 23px;
  }
}
// 退会ページ
.alert-form {
  ul {
    margin-top: 40px;
    li {
      text-align: left;
      margin-bottom: 10px;
    }
  }
  span {
    color: red;
  }
}

// リストグループ
.basic-page .list-group.vertical-group {
  margin-bottom: 30px;
}
.basic-page .list-group {
  margin-bottom: 0px;
  .list-header {
    background: yellowgreen;
    color: #fff;
    // background: #f5ead5;
    // color: #d04d00;
    font-size: 1.5em;
    text-align: center;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
  }
  .list-group-item-heading {
    position: relative;
  }
  .list-group-item {
    margin-bottom: 0;
  }
  .list-group-content-left {
    margin-right: 15%;
  }
  .list-group-content-center {
    margin-left: 5%;
  }
  .middle-item {
    border-top: unset;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
  }
  .under-section {
    padding-left: 10%;
  }
  .last-item {
    border-top: unset;
    padding: 2px 0;
    position: relative;
    top: -3px;
    background: #fff;
    z-index: 2;
  }
  .rank-item {
    padding-left: 3%;
    .rank-box {
      width: 10%;
      display: inline-block;
      text-align: center;
    }
  }
}
.content-set-with-index {
  display: flex;
  margin-bottom: 10px;
  .index-number,
  .subject-side {
    align-self: center;
    text-align: center;
    margin: 0 3%;
  }
  .index-number {
    flex-grow: 0.1;
  }
  .subject-side {
    flex-grow: 0.3;
  }
  .content-side {
    flex-grow: 0.6;
    flex-basis: 60%;
    word-break: break-word;
  }
}
.content-half-with-index {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .half-content {
    align-self: center;
    text-align: center;
  }
}
// カテゴリー一覧
.category-item {
  width: 40%;
  margin-bottom: 30px;
  position: relative;
  h2 {
    text-align: center;
    padding-top: 0px;
  }
  &:nth-child(odd) {
    float: left;
  }
  &:nth-child(even) {
    float: right;
  }
  .btn-info {
    position: absolute;
    right: 0;
    bottom: 21px;
  }
}

// タグ一覧
.tag-index {
  display: inline-block;
  .btn {
    padding: 3px 2px;
    font-size: 12px;
  }
  .char-area {
    display: inline-block;
    margin: 0 5px 10px 0;
    padding: 1px 7px;
    background: #fff8b6;
    border-radius: 5px;
    white-space: nowrap;
  }
  .badge {
    margin-left: 3%;
    background: sandybrown;
  }
}

// 投稿作成
.timer {
  position: absolute;
  right: 1.5%;
}

#count_str {
  position: absolute;
  right: 1.5%;
}

.basic-page .field textarea {
  resize: none;
  width: 100%;
  height: 600px;
  padding: 1%;
}

// 投稿詳細
.article-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4% 5%;
  .times {
    font-size: 0.8em;
    color: dimgray;
    position: absolute;
    right: 1.5%;
    top: 20%;
  }
  .evaluation {
    position: absolute;
    right: 1.5%;
    bottom: -35px;
  }
  .comments {
    .field {
      margin: 30px auto auto auto;
    }
    .comment-title {
      display: inline-block;
      width: 60%;
      margin: auto 5%;
    }
    .balloon {
      position: relative;
      display: inline-block;
      margin-left: 10%;
      padding: 1%;
      border: solid 1px #ddd;
      border-radius: 5px;
    }
    .balloon:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      padding-right: 0px;
      margin-left: -14px;
      border: 6px solid transparent;
      border-right: 8px solid #fff;
      z-index: 2;
    }
    .balloon:after {
      content: "";
      position: absolute;
      left: 2px;
      top: 6px;
      margin-left: -18px;
      border: 7px solid transparent;
      border-right: 9px solid #ddd;
      z-index: 1;
    }
    .action {
      text-align: right;
      margin-top: 3px;
    }
  }
}
// 一覧ページ(table)
.basic-page .table > {
  thead > tr {
    .t-number {
      text-align: center;
    }
  }
  tbody > tr {
    th,
    td {
      vertical-align: middle;
      word-break: break-word;
    }
    .t-index {
      width: 5%;
      text-align: center;
    }
    .t-number {
      width: 10%;
      text-align: center;
    }
    .t-user {
      width: 15%;
    }
    .t-subject {
      width: 20%;
    }
    .t-content {
      width: 40%;
    }
  }
}

// マイページ
.basic-page aside .profile {
  .profile-image {
    margin-right: 0px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .table {
    margin-top: 10px;
    th {
      background: #ff6868;
      color: #fff;
    }
    td {
      background: #fff;
    }
    label {
      margin-bottom: 0;
    }
  }
}
