
<footer class="footer">
  <small>
    <%= link_to 'Relklidge',root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "help", help_path %></li>
    </ul>
  </nav>
</footer>
