
<footer class="footer">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-footer">
        <small style="text-align:center;">
          <%= link_to 'Relklidge', root_path, id:"logo" %>
        </small>
      </div>
      <div class="collapse navbar-collapse" id="navbarEexample7">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About",about_path, class: "glyphicon glyphicon-info-sign" %></li>
          <li><%= link_to "Help", help_path, class: "glyphicon glyphicon-question-sign" %></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
